includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - src/

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        - '#Instanceof between cebe\\openapi\\spec\\(OpenApi|PathItem|Operation).*will always evaluate to true#'
        - '#Strict comparison using .* between array.* and null will always evaluate to (false|true)#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php
